<%= form_for(potwory) do |f| %>
  <% if potwory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(potwory.errors.count, "error") %> prohibited this potwory from being saved:</h2>

      <ul>
      <% potwory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nazwa %>
    <%= f.text_field :nazwa %>
  </div>

  <div class="field">
    <%= f.label :opis %>
    <%= f.text_area :opis %>
  </div>

  <div class="field">
    <%= f.label :wiek %>
    <%= f.number_field :wiek %>
  </div>

  <div class="field">
    <%= f.label :wrazliwosc %>
    <%= f.text_field :wrazliwosc %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
