<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @potwory.nazwa %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @potwory.opis %>
</p>

<p>
  <strong>Wiek:</strong>
  <%= @potwory.wiek %>
</p>

<p>
  <strong>Wrazliwosc:</strong>
  <%= @potwory.wrazliwosc %>
</p>

<%= link_to 'Edit', edit_potwory_path(@potwory) %> |
<%= link_to 'Back', potwories_path %>
